# Probability

In [43]:
#probability ogf getting 3 when a 3 die is rolled
ns= 6 #n(S) = {1,2,3,4,5,6}
na=1 #n(A) ={3}
pa=na/ns #P(A)
print('Probability of getting 3 is :',pa)

Probability of getting 3 is : 0.16666666666666666

In [44]:
#Probability of atleast getting one head when a coin is tossed thrice
ns= 8 #n(S) = {HHH,HHT,HTH,THH,TTH,THT,HTT,TTT}
na=7 #n(A) ={HHH,HHT,HTH,THH,TTH,THT,HTT}
pa=na/ns #P(A)
print('Probability of getting One head is :',pa)

Probability of getting One head is : 0.875

In [45]:
#A glass jar contains 5red, 3 blue,2green jelly beans.if a jelly bean is chosen at random 
#from the jar,what is probability that is not blue?

ns= 10 #n(S) = {1,2,3,4,5,6}
na=7 #n(A) ={3}
pa=na/ns #P(A)
print('Probability of getting not blue jellybean  is :',pa)

Probability of getting not blue jellybean  is : 0.7

# Independent and Dependent event

In [46]:
# if the probability that person A will be alive in 20years is 0.7 and the probability that 
#person B will be alive is 20 years is 0.5, what is probability that they will both be alive in 
#20years
#these are in dependent events,so
P=0.7*0.5
print('probability that they will both be alive after 20years is :',P)

probability that they will both be alive after 20years is : 0.35

In [47]:
def event_probability(n,s):
    return n/s

In [48]:
#A fair die is tossed twice.find the probability of getting a 4 or 5 on the first toss and a 
# 1,2 or3 in second toss
pa= event_probability(2,6) #probability of getting a 4 or 5
pb = event_probability(3,6) #probability of getting a 1,2 or 3
P = pa*pb
print('probability of getting a 4 or 5 on the first toss and a 1,2 or3 in second toss is :', P)

probability of getting a 4 or 5 on the first toss and a 1,2 or3 in second toss is : 0.16666666666666666

In [49]:
#A bag contains 35 white marbles and ,3 black and 2 green marbles . In each draw,marable is 
#drawn from the bag and not replaced . In three draws , find the probaility of obtaining white 
#black ,green in that order
pw = event_probability(5,10)
pb = event_probability(3,9)
pg = event_probability(2,8)
print('the probaility of obtaining white black ,green marble is : ', (pw*pb*pg))

the probaility of obtaining white black ,green marble is :  0.041666666666666664

In [50]:
#Sample Space 
cards= 52
#Calculate  the probabilty of getting a heart or a club
hearts = 13
clubs =13
heart_or_club =event_probability(hearts,cards) + event_probability(clubs,cards)
print('Probability is :', heart_or_club
     )

Probability is : 0.5

In [51]:
#Calculate the probability of drawing an ace,king or a queen
aces=4
kings=4
queens=4
a_k_q = event_probability(aces,cards) + event_probability(kings,cards)+event_probability(queens,cards
                                                                                      )
print('Probability is :', a_k_q)

Probability is : 0.23076923076923078

In [52]:
#Calculate the probability of drawing a heart or an ace
ace_of_hearts=1
heart_or_ace = (event_probability(hearts,cards) +event_probability(aces,cards)) - event_probability(ace_of_hearts,cards)
print('probability is :',round(heart_or_ace,1))

probability is : 0.3

In [53]:
#probability of drawing red cards or a face  cards
red_cards =26
face_cards =12
red_face_cards =6 
redcard_or_facecards = event_probability(red_cards,cards) + event_probability(face_cards,cards) - event_probability(red_face_cards,cards)
print(round(redcard_or_facecards,1))

0.6

# complementary Events

In [54]:
# probability of not getting  5 when a fair die is rolled
ns= 6 #n(S) = {1,2,3,4,5,6}
na=1 #n(A) ={5}
pa=na/ns #P(A)
print('Probability of not getting 5 is :',1-pa)

Probability of not getting 5 is : 0.8333333333333334

# Conditional Probability

In [55]:
import pandas as pd
import numpy as np
df =pd.read_csv('student-mat.csv')
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10

We are only concerned with the columns :- absences (number of absences), and G3 (final grade from 0 to 20).
Let us create a couple new boolean columns based on these columns to make our lives easier. 

Add a boolean column called grade_A noting if a student achieved 80% or higher as a final score. Original values are on a 0 to 20 scale so we multiply by .

In [57]:
df['grade_A'] =np.where(df['G3']*5 >=80,1,0) #grades are out of 20 ,coverting into percentage thats y multpling by 5

Make another boolean column called high_absenses witha  value a 1 or 0 if a student missed 10 
or more classes

In [58]:
df['high_absenses'] = np.where(df['absences'] >=10 ,1 ,0)

In [59]:
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,goout,Dalc,Walc,health,absences,G1,G2,G3,grade_A,high_absenses
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,1,1,3,6,5,6,6,0,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,1,1,3,4,5,5,6,0,0
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,2,2,3,3,10,7,8,10,0,1

And one more column to make building a pivot table easier

In [60]:
df['count']=1

In [61]:
# Drop all columns which we dont want
df=df[['grade_A','high_absenses','count']]
df.head()

   grade_A  high_absenses  count
0        0              0      1
1        0              0      1
2        0              1      1
3        0              0      1
4        0              0      1

In [62]:
final= pd.pivot_table(df,values='count',index=['grade_A'],columns=['high_absenses'],
                     aggfunc=np.size,fill_value=0)
final

high_absenses    0   1
grade_A
0              277  78
1               35   5


Calculate the probability the student will get grade A given that missing 10 or more classes.

We now have all the data we need to do our calculation. Lets start by calculating each individual part in the formula. 

In our case: P(A) is the probability of a grade of 80% or greater.

P(B) is the probability of missing 10 or more classes. P(A/B) is the probability of a 80 % + grade, given missing 10 or more classes.

In [87]:
PA = (35+5)/(277+78+35+5);print(round(PA,3))
PB =(78+5)/(277+78+35+5);print(round(PB,4))
P_A_OR_B = 5/(277+78+35+5);print(round(P_A_OR_B,3))
res =P_A_OR_B / PB
print('probability the student will get grade A given that missing 10 or more classes P(A|B) :',round(res,2)*100,'%')

0.101
0.2101
0.013
probability the student will get grade A given that missing 10 or more classes P(A|B) : 6.0 %

# combinatorics

In [5]:
import itertools
from itertools import product
box_1 =['g','b']
perm=[]
for p in itertools.product(box_1,repeat=2):
    perm.append(p)
perm

[('g', 'g'), ('g', 'b'), ('b', 'g'), ('b', 'b')]

In [4]:
import itertools
from itertools import product
box_1 =['g','b','y']
perm=[]
for p in itertools.product(box_1,repeat=3):
    perm.append(p)
perm

[('g', 'g', 'g'),
 ('g', 'g', 'b'),
 ('g', 'g', 'y'),
 ('g', 'b', 'g'),
 ('g', 'b', 'b'),
 ('g', 'b', 'y'),
 ('g', 'y', 'g'),
 ('g', 'y', 'b'),
 ('g', 'y', 'y'),
 ('b', 'g', 'g'),
 ('b', 'g', 'b'),
 ('b', 'g', 'y'),
 ('b', 'b', 'g'),
 ('b', 'b', 'b'),
 ('b', 'b', 'y'),
 ('b', 'y', 'g'),
 ('b', 'y', 'b'),
 ('b', 'y', 'y'),
 ('y', 'g', 'g'),
 ('y', 'g', 'b'),
 ('y', 'g', 'y'),
 ('y', 'b', 'g'),
 ('y', 'b', 'b'),
 ('y', 'b', 'y'),
 ('y', 'y', 'g'),
 ('y', 'y', 'b'),
 ('y', 'y', 'y')]

# permutation without repition

In [7]:
import itertools
box_1=['g','b']
perm = itertools.permutations(box_1)
for i in list(perm):
    print(i)

('g', 'b')
('b', 'g')

In [8]:
import itertools
box_1=['g','b','y']
perm = itertools.permutations(box_1)
for i in list(perm):
    print(i)

('g', 'b', 'y')
('g', 'y', 'b')
('b', 'g', 'y')
('b', 'y', 'g')
('y', 'g', 'b')
('y', 'b', 'g')

In [9]:
#Variation with repetition
box_2=['g','b','y']
perm=[]
for p in itertools.product(box_2,repeat=2):
    perm.append(p)
perm

[('g', 'g'),
 ('g', 'b'),
 ('g', 'y'),
 ('b', 'g'),
 ('b', 'b'),
 ('b', 'y'),
 ('y', 'g'),
 ('y', 'b'),
 ('y', 'y')]

In [10]:
#variation without repitition
import itertools
box_2=['g','b','y']
perm = itertools.permutations(box_2,2)
for i in list(perm):
    print(i)

('g', 'b')
('g', 'y')
('b', 'g')
('b', 'y')
('y', 'g')
('y', 'b')

# combination 
with repitiion: 
C(n,k)= (n+k-1)! /k!(n-1)!

In [13]:
from itertools import combinations_with_replacement
box_1=['g','b']
combi = combinations_with_replacement(box_1,2)

for i in list(combi):
    print(i)

('g', 'g')
('g', 'b')
('b', 'b')

In [14]:
from itertools import combinations_with_replacement
box_1=['g','b','r','y']
combi = combinations_with_replacement(box_1,2)

for i in list(combi):
    print(i)

('g', 'g')
('g', 'b')
('g', 'r')
('g', 'y')
('b', 'b')
('b', 'r')
('b', 'y')
('r', 'r')
('r', 'y')
('y', 'y')

without repition:C(n,k)= n! /k!(n-k)!

In [16]:
from itertools import combinations
box_1=['b','g','y']
combi=combinations(box_1,2)
for i in list(combi):
    print(i)

('b', 'g')
('b', 'y')
('g', 'y')